<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Двач Пикчи</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div style="text-align:center;padding:1em;">
            <p style="font-size:6pt">если Вы зашли посмотреть картиночки и видите эту страницу - нажмите кнопу "обновить"</p>
            <h1>Двач Пикчи (<%= av %>)</h1>
            <p>Двач Пикчи - приложение для Android 4.1+, позволяющее в удобном виде просматривать медиафайлы с сайта <a href="http://2ch.hk">2ch.hk</a></p>
            <p style="color:red">ВНИМАНИЕ! Может содержаться контент для взрослых, если вам нет 18-ти лет - воздержитесь от установки данного приложения.</p>
            <p>Приложение в автоматическом режиме собирает ссылки с <a href="http://2ch.hk">2ch.hk</a>. Разработчик приложения
            не создает контент, не фильтрует его и не отвечает за материалы, размещенные на сайте <a href="http://2ch.hk">2ch.hk</a>.</p>
            <p>Если Вы обнаружили материалы, нарушающие законодательство РФ, перейдите к посту на сайт 2ch.hk (через опцию меню просмотра файла или галерею, по долгому нажатию на превью)
            и в опциях сообщения выберите "Пожаловаться".</p>
            <p><a href="dvachpikchi.apk"><b>СКАЧАТЬ ПРИЛОЖЕНИЕ БЕСПЛАТНО БЕЗ СМС (вишни нет)</b></a></p>
            <h3>Что нового в версии <%= av %>:</h3>
            <div style="text-align:left;">
                <ul style="padding:2px;">
                    <li>Количество борд увеличилось до 19;</li>
                    <li>Можно просмотреть треды в списке с названиями и с текстом ОП-поста для более быстрой навигации;</li>
                    <li>Можно отправить сообщение разработчику (мне), например послать нахуй;</li>
                </ul>
            </div>
            <img src="logo.png">
        </div>
    </body>
</html>
